<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pass1</title>
</head>
  <body>
      <input type="text" class="text1"  id="a1" name="text1" placeholder="password" #text1>
      <button type="button" (click)="clickme(text1.value)">Clickme</button>
      <br>
      <hr>
      <h1 style="align-content: center;background-color: aqua;color: darkgoldenrod;" class="output"></h1>
  </body>
</html>